/* DATAGOV CUSTOM STYLES */
ul.menu {
    padding-inline-start: 0;
    li {
      display: inline-block;
      &::after {
        content: '  |'
      }
    }
  }

  .view-buttons {
    button {
      margin-right: .5rem;
    }
  }

  .align-middle {
    vertical-align: middle;
    top: -1px;
    &.check {
        color: green;
    }
    &.cancel {
        color: red;
    }
  }

  .site-footer {
    border-top: 1px solid #e7e7e7;

    &__links-container {
        @include at-media('desktop') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%
        }
    }

    &__links {
        &--datagov {
            @include list-items(column);

            @include at-media('tablet') {
                @include list-items();
                margin-top: 1rem;

                & li:not(:first-child) {
                    @include border-span($left: -5px);
                }
            }
        }

        &--social {
            @include list-items();

            @include at-media('tablet') {
                margin-top: 1rem;
            }

            .usa-icon {
                width: 2em;
                height: 2em;
                margin-right: .5em;
            }

            & li:nth-child(2) {
                @include border-span();

                a {
                    padding-left: 1em;
                }
            }
        }
    }
  }
