/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

@import "components/glossary";
@import "components/icons";
@import "components/blockview";
@import "components/progress_bar";

ul.menu {
  padding-inline-start: 0;

  li {
    display: inline-block;

    &::after {
      content: '  |'
    }
  }
}

.word-break-all {
  word-break: break-all;
}

.view-buttons {
  button {
    margin-right: .5rem;
  }
}

.align-middle {
  vertical-align: middle;
  top: -1px;

  &.check {
    color: green;
  }

  &.cancel {
    color: red;
  }
}

.text-center {
  text-align: center;
}

.usa-card__img img {
  padding: 10px;
}

.usa-pagination {
  &__item {
    cursor: pointer;
  }
}

.container:first-child {
  display: flex;
  justify-content: space-between;
}

.usa-table-container--scrollable {
  overflow: scroll;
}

/* Keep Bootstrap 4 visual defaults while using Bootstrap 5 assets. */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

@media (min-width: 1400px) {
  .container,
  .container-xxl {
    max-width: 1140px !important;
  }
}
