pytest.xml
pytest-coverage.txt
.coverage
.pytest_cache
.ruff_cache
.DS_Store
__pycache__/
venv/
credentials.py
dist/

# harvest load test log
harvest_load.log

# node
node_modules/

# any previous versions of schemas
**/dataset_**.json
**/catalog_**.json

# openstack ( s3 mock )
tmp/

# env
.env.secret
requirements.txt

# vscode debugger
.vscode/*
!.vscode/launch.json

# uswds assets
app/static/assets
