[tool.poetry]
name = "datagov-harvesting-logic"
version = "0.4.1"
description = ""
# authors = [
#     {name = "Jin Sun", email = "jin.sun@gsa.gov"},
#     {name = "Tyler Burton", email = "tyler.burton@gsa.gov"},
# ]
authors = [
    "Datagov Team <datagov@gsa.gov>",
]
maintainers = [
    "Datagov Team <datagov@gsa.gov>",
]
readme = "README.md"
packages = [{include = "harvester"}]
license = "LICENSE.md" # TODO fix me
repository = "https://github.com/GSA/datagov-harvesting-logic"

[tool.poetry.dependencies]
python = ">=3.10"
jsonschema = ">=4"
python-dotenv = ">=1"
deepdiff = ">=6"
ckanapi = ">=4.7"
beautifulsoup4 = "^4.12.2"
sansjson = "^0.3.0"
sqlalchemy = "^2.0.25"
flask = "^3.0.2"
psycopg2-binary = "^2.9.9"
flask-sqlalchemy = "^3.1.1"
flask-wtf = "^1.2.1"
flask-migrate = "^4.0.7"
flask-bootstrap = "^3.3.7.1"
cloudfoundry-client = "^1.36.0"

[tool.poetry.group.dev.dependencies]
pytest = ">=7.3.2"
ruff = "^0.0.291"
pytest-cov = "^4.0.0"
debugpy = "^1.8.1"
isort = "^5.13.2"
black = "^24.4.2"

[tool.ruff]
# Enable pycodestyle (`E`) and Pyflakes (`F`) codes by default.
select = ["E", "F"]
ignore = []
ignore-init-module-imports = true

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["A", "B", "C", "D", "E", "F", "G", "I", "N", "Q", "S", "T", "W", "ANN", "ARG", "BLE", "COM", "DJ", "DTZ", "EM", "ERA", "EXE", "FBT", "ICN", "INP", "ISC", "NPY", "PD", "PGH", "PIE", "PL", "PT", "PTH", "PYI", "RET", "RSE", "RUF", "SIM", "SLF", "TCH", "TID", "TRY", "UP", "YTT"]
unfixable = []

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
    "migrations"
]

# Same as Black.
line-length = 88

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Assume Python 3.10.
target-version = "py310"

[tool.ruff.mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 10

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
