black==24.10.0 ; python_version >= "3.13" and python_version < "4.0"
cfgv==3.4.0 ; python_version >= "3.13" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.13" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.13" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
coverage[toml]==7.6.10 ; python_version >= "3.13" and python_version < "4.0"
debugpy==1.8.11 ; python_version >= "3.13" and python_version < "4.0"
distlib==0.3.9 ; python_version >= "3.13" and python_version < "4.0"
filelock==3.16.1 ; python_version >= "3.13" and python_version < "4.0"
freezegun==1.5.1 ; python_version >= "3.13" and python_version < "4.0"
identify==2.6.5 ; python_version >= "3.13" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.13" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.13" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.13" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.13" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.13" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.13" and python_version < "4.0"
platformdirs==4.3.6 ; python_version >= "3.13" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.13" and python_version < "4.0"
pre-commit==3.8.0 ; python_version >= "3.13" and python_version < "4.0"
pytest-cov==4.1.0 ; python_version >= "3.13" and python_version < "4.0"
pytest-local-badge==1.0.3 ; python_version >= "3.13" and python_version < "4.0"
pytest==8.3.4 ; python_version >= "3.13" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.13" and python_version < "4.0"
ruff==0.0.291 ; python_version >= "3.13" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
virtualenv==20.28.1 ; python_version >= "3.13" and python_version < "4.0"
