# poetry not supported by cloud.gov, use this file instead for manually push

flask-migrate==4.0.7 
flask-sqlalchemy==3.1.1 
flask==3.0.2 
psycopg2-binary==2.9.9 
pytest==7.4.4 
python-dotenv==1.0.1 
flask-wtf==1.2.1
flask_bootstrap
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability