black==24.4.2 ; python_version >= "3.10"
cfgv==3.4.0 ; python_version >= "3.10"
click==8.1.7 ; python_version >= "3.10"
colorama==0.4.6 ; python_version >= "3.10" and (sys_platform == "win32" or platform_system == "Windows")
coverage[toml]==7.5.0 ; python_version >= "3.10"
debugpy==1.8.1 ; python_version >= "3.10"
distlib==0.3.8 ; python_version >= "3.10"
exceptiongroup==1.2.1 ; python_version < "3.11" and python_version >= "3.10"
filelock==3.14.0 ; python_version >= "3.10"
identify==2.5.36 ; python_version >= "3.10"
iniconfig==2.0.0 ; python_version >= "3.10"
isort==5.13.2 ; python_version >= "3.10"
mypy-extensions==1.0.0 ; python_version >= "3.10"
nodeenv==1.8.0 ; python_version >= "3.10"
packaging==24.0 ; python_version >= "3.10"
pathspec==0.12.1 ; python_version >= "3.10"
platformdirs==4.2.1 ; python_version >= "3.10"
pluggy==1.5.0 ; python_version >= "3.10"
pre-commit==3.7.1 ; python_version >= "3.10"
pytest-cov==4.1.0 ; python_version >= "3.10"
pytest==8.1.1 ; python_version >= "3.10"
pyyaml==6.0.1 ; python_version >= "3.10"
ruff==0.0.291 ; python_version >= "3.10"
setuptools==69.5.1 ; python_version >= "3.10"
tomli==2.0.1 ; python_full_version <= "3.11.0a6" and python_version >= "3.10"
typing-extensions==4.11.0 ; python_version < "3.11" and python_version >= "3.10"
virtualenv==20.26.2 ; python_version >= "3.10"
