.error-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.error-block {
    border: 1px solid color('gray-cool-10');
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: color('gray-5');

    h3 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 900;
        color: color('gray-90');

    p {
        margin: 0.3rem 0;
        font-size: 1rem;
        text-indent: 1.25rem;
    }

    a {
        color: color('blue-60v');
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    }
}