{#
    The full pagination data object is passed so we can access current state, aria labels, and text labels.
  #}
  {% macro pagination_arrow(direction, pagination, htmx_vars) %}
    {% set page_var = ((pagination.current - 1) if direction == 'previous' else (pagination.current + 1)) | string() %}
    {% set placeholder_link = htmx_vars.endpoint_url + "?page=" + page_var %}

    {% set link_attrs = {
      'class': 'usa-pagination__link usa-pagination__'  ~ direction ~ '-page',
      'aria_label': pagination[direction]['label'] ~ ' ' ~ pagination.page_label | lower
    } %}

    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        hx-get="{{ placeholder_link | default("javascript:void(0);") }}"
        hx-target="{{htmx_vars.target_div}}"
        hx-include="[name='job_filter'], [name='source_filter'], [name='type_filter'], [name='status_filter'], [name='sort_by'], [name='sort_order']"
        class="{{ link_attrs.class }}"
        aria-label="{{ link_attrs.aria_label }}"
      >
        {% if direction == 'previous' %}
          <svg class="usa-icon" aria-hidden="true" role="img">
            {# Global variable not applying #}
            <use xlink:href="/assets/uswds/img/sprite.svg#navigate_before"></use>
          </svg>
        {% endif %}
        <span class="usa-pagination__link-text">
          {{ pagination[direction]['label'] }}
        </span>
        {% if direction == 'next' %}
          <svg class="usa-icon" aria-hidden="true" role="img">
            {# Global variable not applying #}
            <use xlink:href="/assets/uswds/img/sprite.svg#navigate_next"></use>
          </svg>
        {% endif %}
      </a>
    </li>
  {% endmacro %}
