<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF  -8">
  {% block title %}
  <title>{{action}} {{data_type}}</title>
  {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/uswds/css/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="{{ url_for('static', filename='assets/uswds/js/uswds-init.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/htmx/htmx.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datetime.js') }}"></script>
  <!-- Google Tag Manager -->
  <script nonce="{{ csp_nonce() }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WZJC8CX7');</script>
  <!-- End Google Tag Manager -->
  {% block script_head %}

  <meta name="htmx-config" content='{"inlineStyleNonce":"{{ csp_nonce() }}"}'>
  {% endblock %}
</head>

<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZJC8CX7"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include '/snippets/banner.html' %}
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <nav class="usa-nav">
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item"><a class="usa-nav-link" href="{{ url_for('main.organization_list') }}">Organizations</a></li>
          <li class="usa-nav__primary-item"><a class="usa-nav-link" href="{{ url_for('main.harvest_source_list') }}">Harvest Sources</a></li>
          <li class="usa-nav__primary-item"><a class="usa-nav-link" href="{{ url_for('main.view_metrics') }}">Metrics</a></li>
          {% if session['user'] %}
          <li class="usa-nav__primary-item"><span class="usa-prose padding-top-1">{{ session['user'] }}</span></li>
          <li class="usa-nav__primary-item"><a class="usa-nav-link" href="{{ url_for('main.logout') }}">Logout</a></li>
          {% else %}
          <li class="usa-nav__primary-item"><a class="usa-nav-link" href="{{ url_for('main.login') }}">Login</a></li>
          {% endif %}
        </ul>
      <button class="usa-button usa-button--secondary usa-button--unstyled js-glossary-toggle">
        Glossary
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="{{ url_for('static', filename='/assets/uswds/img/sprite.svg') }}#local_library"></use>
        </svg>
      </button>
      </nav>
    </div>
  </header>

  {% include 'glossary.html' %}
  <div class="grid-container">
  <div class="grid-row">
  <main class="desktop:grid-col-9 usa-prose" id="main-content">
    {% for message in get_flashed_messages() %}
    <div class="usa-alert usa-alert--warning usa-alert--slim">
      <div class="usa-alert__body"><p class="usa-alert__text">
      {{ message }}
        </p></div>
    </div>
    {% endfor %}

    <div id="content">{% block content %}{% endblock %}</div>
  </main>
  </div>
  </div>
  {% include '/snippets/footer.html' %}
  <script src="{{ url_for('static', filename='assets/uswds/js/uswds.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bundle.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>
