{% extends 'base.html' %}

{% block title %}
<title>{{action}} {{data_type}}</title>
{% endblock %}

{% block content %}
<h2>{{action}} {{data_type}}</h2>
<form action="{{ form_action }}" method="{{ method | d('POST') }}">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    {% set field_class = 'usa-textarea' if field.type == 'TextAreaField' else ('usa-select' if field.type == 'SelectField' else 'usa-input') %}
    <div class="usa-form-group">
        <label for="{{ field.id }}" class="usa-label">
            {{ field.label.text }}
            {% if field.flags.required %}
                <abbr class="usa-hint usa-hint--required" title="required">*</abbr>
            {% endif %}
        </label>
        {% if data_type == "Harvest Source" and action == "Edit" and field.id == 'name' %}
            {{field(class_=field_class, readonly_=true, aria_label=field.label.text)}}
        {% else %}
            {{field(class_=field_class, aria_label=field.label.text)}}
        {% endif %}
        {% if field.description %}
            <span class="usa-hint">{{ field.description }}</span>
        {% endif %}
    </div>
    {% endfor %}

    <div class="usa-form-group">
        <button type="submit" class="usa-button">{{button}}</button>
    </div>
</form>
{% endblock %}
