{% extends 'base.html' %}

{% block title %}
<title>{{action}} {{data_type}}</title>
{% endblock %}

{% block content %}
<h2>{{action}} {{data_type}}</h2>
<form action="{{ form_action }}" method="{{ method | d('POST') }}">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
        <label for="{{ field.id }}" class="form-control-label">
            {{ field.label.text }}
            {% if field.flags.required %}
                <span class="text-danger" aria-hidden="true">*</span>
            {% endif %}
        </label>
        {% if data_type == "Harvest Source" and action == "Edit" and field.id == 'name' %}
            {{field(class_='form-control', readonly_=true, aria_label=field.label.text)}}
        {% else %}
            {{field(class_='form-control', aria_label=field.label.text)}}
        {% endif %}
        {% if field.description %}
            <small class="form-text text-muted">{{ field.description }}</small>
        {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">{{button}}</button>
</form>
{% endblock %}
