{% extends 'base.html' %}

{% block title %}
<title>Get Organizations</title>
{% endblock %}

{% block content %}
<div class="form-group">
    <label for="organization_id">Get Organizations:</label>
    <select name="organization_id" id="organization_id" class="form-control" 
        onchange="updateOrgLink()">
        <option value="">Select an organization</option>
        {% for org in organizations %}
            <option value="{{ org.id }}">{{ org.name }} ({{ org.id }})</option>
        {% endfor %}
    </select>
</div>
<a id="org_link" href="#" class="btn btn-primary">Get Organization</a>
<span id="example_org_link">/organization</span>
</div>
{% endblock %}

{% block scripts %}
<script>
    function updateOrgLink() {
        var selectedId = document.getElementById('organization_id').value;
        var link = document.getElementById('org_link');
        var exampleLink = document.getElementById('example_org_link');
        link.href = selectedId ? `/organization/${selectedId}` : "#";
        exampleLink.textContent = 
            selectedId ? `/organization/${selectedId}` : '/organization';
    }

</script>
{% endblock %}

