<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harvest Actions</title>
        <style>
            ul {
                list-style-type: none;
            }
            li {
                margin-bottom: 10px;
            }
            a {
                text-decoration: none;
                color: blue;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
</head>
<body>
    <h2>Harvest Actions</h2>
    <ul>
        <li><a href="/add_org">Add Organization</a></li>
        <li><a href="/add_source">Add Harvest Source</a></li>
        <li><a href="/add_job">Add Harvest Job</a></li>
        <li><a href="/add_error">Add Harvest Error</a></li>
        <li><a href="/organizations">Get All Organizations</a></li>
        <li><a href="/harvest_sources">Get All Harvest Sources</a></li>
        <li><a href="/harvest_jobs">Get All Harvest Jobs</a></li>
        <li><a href="/harvest_errors_by_job/<job_id>">Get All Harvest Errors By Job</a></li>
        <li><a href="/harvest_source/<source_id>">Get Harvest Source</a></li>
        <li><a href="/harvest_job/<job_id>">Get Harvest Job</a></li>
        <li><a href="/harvest_error/<error_id>">Get Harvest Error</a></li>
    </ul>
</body>
</html>
