{% extends 'base.html' %}

{% block title %}
<title>Flask routes </title>
{% endblock %}

{% block content %}
<h2>Harvest Actions</h2>

<ul class="list-unstyled">
    {% if session['user'] %}
        <li class="mb-3"><a href="{{ url_for('harvest.add_organization') }}" class="btn btn-primary">
            Add Organization [Form]</a></li>
        <li class="mb-3"><a href="{{ url_for('harvest.add_harvest_source') }}" class="btn btn-primary">
            Add Harvest Source [Form]</a></li>
    {% else %}
        <li class="mb-3"><span class="btn btn-primary disabled">Add Organization [Form]</span></li>
        <li class="mb-3"><span class="btn btn-primary disabled">Add Harvest Source [Form]</span></li>
    {% endif %}

    <li class="mb-3"><a href="{{ url_for('harvest.get_data_sources')}}" class="btn btn-primary">
            Get Harvest Source by id or org, Get Organizations</a></li>

    <li class="mb-3"><strong>Add Job/Record/Error:</strong></li>
    <textarea class="form-control mb-3" rows="10">
        curl -X POST https://{site}/harvest_job/add -H "Content-Type: application/json" -d '
        {
            "harvest_source_id": "4fa42643-1410-480a-94b6-2f83f0345970",
            "status": "in_progress"
        }'

        curl -X POST https://{site}/harvest_record/add -H "Content-Type: application/json" -d '
        {
            "id": "identifier-1",
            "harvest_job_id": "760129d6-2bf0-4c94-94b9-09622a8a0b23",
            "harvest_source_id": "760129d6-2bf0-4c94-94b9-09622a8a0b23"
        }'

        curl -X POST https://{site}/harvest_error/add -H "Content-Type: application/json" -d '
        {
            "harvest_job_id": "aac30640-bd76-46c2-8a64-cf8ee389b190",
            "harvest_record_id": "", 
            "type": "Validation Error",
            "severity": "ERROR",
            "message": "Invalid data format."
        }'
    </textarea>

    <li class="mb-3"><strong>GET:</strong></li>
    <textarea class="form-control mb-3" rows="10">
        /organization
        /organization/{organization_id}

        /harvest_source
        /harvest_source/{source_id}
        /harvest_source/?organization_id=

        /harvest_record/{record_id}
        /harvest_record/?harvest_job_id=
        /harvest_record/?harvest_source_id=

        /harvest_job/{job_id}
        /harvest_job/?harvest_source_id=

        /harvest_error/{error_id}
        /harvest_error/?harvest_job_id=

    </textarea>

    <li class="mb-3"><strong>UPDATE:</strong></li>
    <textarea class="form-control mb-3" rows="10">
        curl -X PUT https://{site}/harvest_job/update -H "Content-Type: application/json" -d '
        {
            "status": "complete",
            "records_added": 200,
            "records_updated": 50,
            "records_deleted": 6,
            "records_errored": 4,
            "records_ignored": 2
        }'
    </textarea>

    <li class="mb-3"><strong>DELETE:</strong></li>
    <textarea class="form-control mb-3" rows="5">
        curl -X DELETE https://{site}/organization/{organization_id}
        curl -X DELETE https://{site}/harvest_source/{source_id}
        curl -X DELETE https://{site}/harvest_job/{job_id}
    </textarea>

    <li class="mb-3">Reference for testing:</li>
    <li class="mb-3"><a href="/organization" class="btn btn-link">
            Get All Organizations</a></li>
    <li class="mb-3"><a href="/harvest_source" class="btn btn-link">
            Get All Harvest Sources</a></li>
    <li class="mb-3"><a href="/harvest_job/" class="btn btn-link">
            Get All Harvest Jobs</a></li>
    <li class="mb-3"><a href="/harvest_record/" class="btn btn-link">
            Get All Harvest Records (for testing)</a></li>
    <li class="mb-3"><a href="/harvest_error/" class="btn btn-link">
            Get All Harvest Errors (for testing)</a></li>
</ul>
</div>
{% endblock %}