<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harvest Actions</title>
        <style>
            ul {
                list-style-type: none;
            }
            li {
                margin-bottom: 10px;
            }
            a {
                text-decoration: none;
                color: blue;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
</head>
<body>
    <h2>Harvest Actions</h2>
    <ul>
        <li><a href="/organization/add">Add Organization</a></li>
        <li><a href="/harvest_source/add">Add Harvest Source</a></li>
        <br>
        <li>Add Harvest Job : </li>
        <p>example: <br>
            <textarea rows="8" cols="150">
            curl -X POST https://harvester-dev-datagov.app.cloud.gov/harvest_job/add -H "Content-Type: application/json" -d '
                {
                    "harvest_source_id": "4fa42643-1410-480a-94b6-2f83f0345970",
                    "status": "in_progress",
                    "date_created": "Wed, 27 Mar 2024 20:37:52 GMT"
                }'
            </textarea>
        </p>
        <br>
        <li>Add Harvest Error : </li>
        <p>example: <br>
            <textarea rows="12" cols="150">
            curl -X POST https://harvester-dev-datagov.app.cloud.gov/harvest_error/add -H "Content-Type: application/json" -d '
                {
                    "harvest_job_id": "aac30640-bd76-46c2-8a64-cf8ee389b190",
                    "harvest_record_id": "record123", 
                    "date_created": "Wed, 27 Mar 2024 20:37:52 GMT",
                    "type": "Validation Error",
                    "severity": "ERROR",
                    "message": "Invalid data format."
                }'
            </textarea>
        </p>
        <br>
        <li><a href="/organization">Get All Organizations</a></li>
        <br>
        <li><a href="/harvest_source">Get All Harvest Sources</a></li>
        <li><a href="/get_harvest_source">Get Harvest Source</a></li>
        <br>
        <li><a href="/harvest_job/">Get All Harvest Jobs</a></li>
        <li><a href="/harvest_job/<job_id>">Get Harvest Job by id</a></li>
        <li><a href="/harvest_job/?harvest_source_id=">Get Harvest Job by harvest_source_id</a></li>
        <br>
        <li><a href="/harvest_error/">Get All Harvest Errors (for testing) </a></li>
        <li><a href="/harvest_error/<error_id>">Get Harvest Error by id</a></li>
        <li><a href="/harvest_error/?harvest_job_id=">Get All Harvest Errors By Job</a></li>

    </ul>

</body>
</html>
