{% extends 'base.html' %}

{% import 'components/job-table/job_table.j2' as job_table %}

{% block title %}
<title>Metrics Dashboard</title>
{% endblock %}

{% block content %}
<div class="wrapper job-data">
    <div class="section my-3">
        <h2>Recent Harvest Jobs</h2>
        <p class="text-muted">
            Showing jobs from {{ data.window_start.strftime('%Y-%m-%d %H:%M:%S UTC') }}
            to {{ data.current_time.strftime('%Y-%m-%d %H:%M:%S UTC') }}
        </p>

        {% if data.jobs %}
        {% block htmx_paginated %}
        <div id="paginated__harvest-jobs">
            {{ job_table.job_table(
                jobs=data.jobs, 
                caption="Recent Harvest Jobs",
                show_source=true,
                show_date_finished=false,
                show_records_ignored=false
            ) }}
            {% if pagination.count > jobs|count %}
            {% include '/components/pagination/pagination.html' %}
            {% endif %}
        </div>
        {% endblock %}


        {% else %}
        <div class="usa-alert usa-alert--info">
            <div class="usa-alert__body">
                <p class="usa-alert__text">
                    No harvest jobs found in the last 24 hours.
                </p>
            </div>
        </div>
        {% endif %}
    </div>


    <section id="jobs-to-harvest">
      <h2>Scheduled Jobs Still to Harvest: {{ data.new_jobs_in_past | length }}</h2>

      {% if data.new_jobs_in_past %}
      {{ job_table.job_table(
          jobs=data.new_jobs_in_past, 
          caption="Scheduled jobs still to harvest",
          show_source=true,
          show_date_finished=false,
          show_records_ignored=false
      ) }}
      {% else %}
        <div class="usa-alert usa-alert--info">
            <div class="usa-alert__body">
                <p class="usa-alert__text">
                    No scheduled jobs still to harvest.
                </p>
            </div>
        </div>
      {% endif %}
    </section>


    <section id="recent-failed-jobs">
      <h2>Recent Failed jobs</h2>

        <p class="text-muted">
            Showing jobs from {{ data.window_start.strftime('%Y-%m-%d %H:%M:%S UTC') }}
            to {{ data.current_time.strftime('%Y-%m-%d %H:%M:%S UTC') }}
        </p>

      {% if data.failures %}
      <div class="usa-table-container--scrollable" tabindex="0">
          <table class="usa-table usa-table--striped">
              <caption>Recent failed jobs</caption>
              <thead>
                  <tr>
                      <th scope="col">Job Id</th>
                      <th scope="col">Source</th>
                      <th scope="col">Created</th>
                      <th scope="col">Message</th>
                  </tr>
              </thead>
              <tbody id="paginated_harvest_jobs">
                  {% for error in data.failures %}
                  <tr>
                      <td data-sort-value="{{ error.job.id }}">
                          <a href="{{ url_for('main.view_harvest_job', job_id=error.job.id) }}">
                              {{ error.job.id[:8] }}...
                          </a>
                      </td>
                      <td data-sort-value="{{ error.job.source.name }}">
                          <a href="{{ url_for('main.view_harvest_source', source_id=error.job.source.id) }}">
                              {{ error.job.source.name }}
                          </a>
                      </td>
                      <td>{{ error.date_created.strftime('%Y-%m-%d %H:%M:%S')
                          }}</td>
                      <td>{{ error.message}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
      </div>
      {% else %}
        <div class="usa-alert usa-alert--info">
            <div class="usa-alert__body">
                <p class="usa-alert__text">
                    No failed jobs from the last 24 hours.
                </p>
            </div>
        </div>
      {% endif %}
    </section>
</div>
    {% endblock %}
