{% extends 'base.html' %}

{% block title %}
<title>View Harvest Job Data</title>
{% endblock %}

{% block content %}
<div class="wrapper job-data">
    {% if not data.job %}
    <h2>Whooops!</h2>
    <p>Looks like you navigated to a harvest job that doesn't exist.</p>
    {% else %}
    <h1>Details for Harvest Job: {{data.job.id}}</h1>
    <div id="harvest-job-config-properties" class="config-table">
        <table class="usa-table usa-table--borderless">
          <caption>Job info</caption>
          <thead><th></th><th></th></thead>
          <tbody>
            {% if data['percent_complete'] %}
            <tr>
                <th scope="row">Percent complete</th>
                <td>
                    <div class="progress-meter">
                    <style nonce="{{ csp_nonce() }}">
                      .this-progress {
                        --progress: {{ data['percent_complete'][:-1] }};
                      }
                    </style>
                        <!-- [:-1] slices off "%" -->
                        <div class="progress-percent this-progress"></div>
                    </div> 
                </td>
            </tr>
            {% endif %}
            {% for key, value in data.job.to_dict().items() %}
            <tr>
                {% if key == 'harvest_source_id' %}
                <th>Harvest Source:</th>
                <td><a href="{{ url_for('api.view_harvest_source', source_id=value) }}">{{data.job.source.name}}</a></td>
                {% elif key == 'date_created' or key == 'date_finished' %}
                <th scope="row">{{key}}</th>
                <td class="utc-date" data-utc-date="{{ value | utc_isoformat }}">
                    {{ value | else_na }}
                </td>
                {% elif key == 'records_ignored' %}
                <th scope="row">records_unchanged</th>
                <td>{{value}}</td>
                {% else %}
                <th scope="row">{{key}}</th>
                <td>{{value}}</td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% if session['user'] and data.job.status == "in_progress" %}
    <div class="config-actions">
        <ul class="usa-button-group">
            <li class="usa-button-group__item">
                <a href="{{ url_for('api.cancel_harvest_job', job_id=data.job.id)}}">
                    <button class="usa-button usa-button--secondary">Cancel</button>
                </a>
            </li>
        </ul>
    </div>
    {% endif %}
    <div class="section margin-y-3">
        <h2>Job Error Table</h2>
        {% if not data.job.errors %}
        No job errors found
        {% else %}
        {% set error_type = "job" %}
        <a href="{{ url_for('api.download_harvest_errors_by_job', job_id=data.job.id, error_type=error_type)}}">
            <button class="btn btn-primary">download job errors as .csv</button>
        </a>
        <table class="usa-table usa-table--striped">
            <caption> Harvest Job Errors for {{data.job.id}} </caption>
            <thead>
                <tr>
                    <th scope="col">Date Created</th>
                    <th scope="col">Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                {% for errors in data.job.errors %}
                <tr>
                    <td class="utc-date" data-utc-date="{{ errors.date_created | utc_isoformat }}">
                        {{ errors.date_created | else_na }}
                    </td>
                    <td>{{errors.id}}</td>
                    <td>{{errors.type}}</td>
                    <td>{{errors.message}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}

    <div class="section">
        <h2>Record Error Details</h2>
        {% if not data.record_errors %}
        <p>No record errors found</p>
        {% else %}
        {% set error_type = "record" %}
        <a href="{{ url_for('api.download_harvest_errors_by_job', job_id=data.job.id, error_type=error_type)}}">
            <button class="btn btn-primary">download record errors as .csv</button>
        </a>

        <table class="usa-table usa-table--striped" id="harvest-job-error-summary">
          <caption>Error type summary</caption>
          <thead>
            <tr>
              <td scope="col">Error type</td>
              <td scope="col">Number of errors</td>
            </tr>
          </thead>
          <tbody>
            {% for error_type, count in data.record_error_summary.items() %}
            <tr>
              <td>{{ error_type }}</td>
              <td>{{ count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

            {% block record_errors_table %}
            <div id="error_results_pagination">
                <div class="error-list">
                    {% for record_error in data.record_errors %}
                    <div class="error-block">
                        <h3>{{ record_error.error.id }}</h3>
                        <p class="word-break-all"><strong>Identifier:</strong> {{ record_error.identifier if record_error.identifier else "N/A"
                            }}</p>
                        <p><strong>Title:</strong> {{ record_error.title if record_error.title else "N/A" }}</p>
                        <p><strong>Harvest Record ID:</strong>
                            {% if record_error.error.harvest_record_id %}
                            <a
                                href="{{ url_for('api.get_harvest_record', record_id=record_error.error.harvest_record_id) }}">
                                {{ record_error.error.harvest_record_id }}
                            </a>
                            {% else %}
                            N/A
                            {% endif %}
                        </p>
                        <!-- mixup between deployed app and testing env. TODO: fix this. -->
                        {% if record_error.error.type in ["ValidationError", "ValidationException"] %}
                            <p>
                                <strong>Error Message:</strong> 
                                <ul>
                                    {% for msg in record_error.error.message %}
                                        <li>{{msg}}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                        {% else %}
                            <p><strong>Error Message:</strong> {{ record_error.error.message }}</p>
                        {% endif %} 
                        <p><strong>Type:</strong> {{ record_error.error.type }}</p>
                        <p class="utc-date" data-utc-date="{{record_error.error.date_created | utc_isoformat }}">
                            <strong>Date Created:</strong> {{ record_error.error.date_created | else_na }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
                {% if pagination.count > data.record_errors|count %}
                {% include '/components/pagination/pagination.html' %}
                {%endif%}
            </div>

            {% endblock %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
