{% extends 'base.html' %}

{% block script_head %}
<script src="{{ url_for('static', filename='assets/chartjs/chart.umd.js') }}"></script>

{% endblock %}

{% block title %}
<title>View Harvest Source</title>
{% endblock %}

{% block content %}
<div class="wrapper source-data">
    {% if not data.source %}
    <h2>Whooops!</h2>
    <p>Looks like you navigated to a harvest source that doesn't exist.</p>
    {% else %}
    <h1>{{data.source["name"]}}</h1>
    <h2>Configuration:</h2>
    <div class="config-table harvest-source-config-properties">
        <table class="table">
            {% for key, value in data.source.items() %}
            <tr>
                <td>{{key}}:</td>
                {% if key == 'organization_id' %}
                <td><a href="{{ url_for('main.view_organization', org_id=value) }}">{{value}}</a></td>
                {% else %}
                <td>{{value}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if session['user'] %}
    <div class="config-actions harvest-source-config-actions">
        <form method="POST" action>
            {{ form.hidden_tag() }}
            <ul class="usa-button-group">
                <li class="usa-button-group__item">
                    {{form.edit(class_='usa-button')}}
                </li>
                <li class="usa-button-group__item">
                    {{form.harvest(class_='usa-button usa-button--base')}}
                </li>
                <li class="usa-button-group__item">
                    {{form.clear(class_='usa-button usa-button--accent-cool', onclick="confirmSubmit(event, 'clear')")}}
                </li>
                <li class="usa-button-group__item">
                    {{form.delete(class_='usa-button usa-button--secondary', onclick="confirmSubmit(event, 'delete')")}}

                </li>
            </ul>
            <fieldset class="usa-fieldset">
                <div class="usa-checkbox">
                    {{form.force_check(class_='usa-checkbox__input')}}
                    {{form.force_check.label(class_='usa-checkbox__label')}}
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}
    <br>
    <h2>Summary: </h2>
    {% if data.summary_data["active_job_in_progress"] %}
    <a class="text-error" href="{{ url_for('main.view_harvest_job', job_id=data.jobs[0].id)}}">
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use href="/assets/uswds/img/sprite.svg#alarm"></use>
        </svg>
        Active Job in Progress. Click here for more info...
    </a>
    {% endif %}

    <div class="config-table harvest-source-config-summary">
        <table class="table">
            <tr>
                <td>Records:</td>
                <td>{{data.summary_data["records_count"]}}</td>
            </tr>
            <tr>
                <td>Synced Records:</td>
                <td>{{data.summary_data["synced_records_count"]}}</td>
            </tr>
            <tr>
                <td>Last Job Records in Error:</td>
                <td>
                    {{data.summary_data["last_job_errors"] | else_na }}
                </td>
            </tr>
            <tr>
                <td>Last Job Finished:</td>
                <td>
                    {{data.summary_data["last_job_finished"] | else_na }}
                </td>
            </tr>
            <tr>
                <td>Next Job Scheduled:</td>
                <td>
                    {{data.summary_data["next_job_scheduled"] | else_na }}
                </td>
            </tr>
        </table>
    </div>
    <div class="section mt-3">
        <h2>Harvest Job History:</h2>
        {% if not data.jobs %}
        No harvest jobs found
        {% else %}
        <canvas id="datagov-line-chart" height="200"></canvas>
        {% block htmx_paginated %}
        <div id="paginated__harvest-jobs">

            <div class="usa-table-container--scrollable" tabindex="0">
                <table class="usa-table usa-table--striped">
                    <caption> Harvest Jobs for Harvest Source Id: {{data.source["id"]}} </caption>
                    <thead>
                        <tr>
                            <th data-sortable scope="col" role="columnheader">Id</th>
                            <th data-sortable scope="col" role="columnheader">Type</th>
                            <th data-sortable scope="col" role="columnheader">Status</th>
                            <th data-sortable scope="col" role="columnheader">Date Created</th>
                            <th data-sortable scope="col" role="columnheader">Date Finished</th>
                            <th data-sortable scope="col" role="columnheader">Records Added</th>
                            <th data-sortable scope="col" role="columnheader">Records Deleted</th>
                            <th data-sortable scope="col" role="columnheader">Records Errored</th>
                            <th data-sortable scope="col" role="columnheader">Records Ignored</th>
                            <th data-sortable scope="col" role="columnheader">Records Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in data.jobs %}
                        <tr>
                            <th scope="row"><a
                                    href="{{ url_for('main.view_harvest_job', job_id=job.id) }}">{{job.id[:8]}}</a>
                            </th>
                            <td data-sort-value={jobs.job_type}> {{job.job_type}}</td>
                            <td data-sort-value={jobs.date_created}> {{job.status}}</td>
                            <td data-sort-value={jobs.date_created}> {{job.date_created}}</td>
                            <td data-sort-value={jobs.date_finished}>{{job.date_finished | else_na }}</td>
                            <td data-sort-value={jobs.records_added}>{{job.records_added}}</td>
                            <td data-sort-value={jobs.records_deleted}>{{job.records_deleted}}</td>
                            <td data-sort-value={jobs.records_errored}>{{job.records_errored}}</td>
                            <td data-sort-value={jobs.records_ignored}>{{job.records_ignored}}</td>
                            <td data-sort-value={jobs.records_updated}>{{job.records_updated}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
            </div>
            {% if pagination.count > data.jobs|count %}
            {% include '/components/pagination/pagination.html' %}
            {% endif %}
        </div>
        {% endblock %}

        {% endif %}
    </div>
    {% endif %} <!-- line 21 -->
</div>

{% endblock %}

{% block scripts %}
<script>
    //
    function confirmSubmit(event, type) {
        let messageEnum = {
            'clear': 'Are you sure you want to clear all datasets?',
            'delete': 'Are you sure you want to delete this source?'
        }
        if (!confirm(messageEnum[type])) {
            event.preventDefault(); // Prevents the form from submitting if the user cancels
        }
    }

    // build harvest jobs chart
    const buildLineChart = (el) => {
        let chart = {
            type: 'line',
            data: {{ data.chart_data | tojson
    }},
    options: {
        responsive: true,
            plugins: {
            legend: {
                position: 'top',
                },
            title: {
                display: true,
                    text: 'Harvest Job History'
            }
        }
    }
        };
    return chart
    }
    const lineEl = document.getElementById('datagov-line-chart');
    new Chart(lineEl, buildLineChart(lineEl));
</script>
{% endblock %}
