{% extends 'base.html' %}

{% block title %}
<title>Harvest Source List</title>
{% endblock %}

{% block content %}
<h1> Harvest Source List </h1>
<div class="bg-base-lighter padding-2 radius-md margin-bottom-3">
    <h2>Find a Harvest Source</h2>
    <div role="region" aria-label="Component search" aria-atomic="true" class="margin-top-1">
        <label for="icon-filter">Filter by name and keyword</label>
        <input class="usa-input" id="icon-filter" type="text">
        <p class="text-base-darker margin-top-1 margin-bottom-0" aria-live="polite"><span id="component-count"></span>
        </p>
    </div>
    {% if session['user'] %}
    <div class="margin-top-3">
        <ul class="list-unstyled">
            <li><a href="{{ url_for('main.add_harvest_source') }}" class="usa-button">
                    Add Harvest Source</a></li>
        </ul>
    </div>
    {% endif %}
</div>

<ul class="usa-card-group flex-row margin-top-3">
    {% for source in data.harvest_sources %}
    <li class="usa-card site-component-card grid-col-6 tablet:grid-col-4" data-meta="{{source.name}}">
        <div class="usa-card__container">
            <div class="usa-card__header">
                <h4 class="usa-card__heading">{{source.name}}</h4>
            </div>
            <div class="usa-card__body">
            </div>
            <div class="usa-card__footer">
                <ul class="usa-button-group">
                    <li class="usa-button-group__item">
                        <a href="{{ url_for('api.view_harvest_source', source_id=source.id) }}"
                            class="usa-button usa-button--outline">Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>"
{% endblock %}
