{% extends 'base.html' %}

{% block title %}
<title>View Org Data</title>
{% endblock %}

{% block script_head %}
<script src="{{ static_url('js/view_org_data.js') }}"></script>
{% endblock %}

{% block content %}
<div class="wrapper">
    {% if not data.organization %}
    <h1>Organization not found</h1>
    <div class="usa-alert usa-alert--error" role="alert">
        <div class="usa-alert__body">
            <h2 class="usa-alert__heading">We couldn't find that organization</h2>
            <p class="usa-alert__text">
                The organization you navigated to doesn't exist.
                <a href="{{ url_for('main.organization_list') }}">Return to the organization list</a>.
            </p>
        </div>
    </div>
    {% else %}
    <div class="display-flex flex-align-center flex-wrap">
        <h1 class="margin-right-2">{{data.organization.name}}</h1>
        <a
            class="usa-button usa-button--outline"
            target="_blank"
            href="{{ data.ckan_url }}/organization/{{ data.organization.slug or data.organization.id }}"
        >
            View on catalog
            {{ 'launch' | usa_icon | safe }}
        </a>
    </div>

    <h2>Details</h2>
    <div class="config-table organization-config-properties">
        <table class="usa-table usa-table--borderless width-full">
            {% for key, value in data.organization_dict.items() %}
            <tr>
                <td>{{ key | humanize }}</td>
                {% if key == 'logo' %}
                <td class="word-break-all"><a href="{{value}}" target="_blank">{{value}}</a>{{ 'launch' | usa_icon | safe }}</td>
                {% elif value is iterable and value is not string %}
                <td class="word-break-all">{{ value | join(', ') if value else 'N/A' }}</td>
                {% else %}
                <td class="word-break-all">{{value}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if session['user'] %}
    <div class="config-actions organization-config-actions">
        <form method="POST" action>
            {{ form.hidden_tag() }}
            <ul class="usa-button-group">
                <li class="usa-button-group__item">
                    {{form.edit(class_='usa-button')}}
                </li>

                <li class="usa-button-group__item">
                    {{form.delete(class_='usa-button usa-button--secondary confirm-submit', data_action="delete")}}
                </li>
            </ul>
        </form>
    </div>
    {% endif %}
    <div class="section margin-top-5 organization-harvest-source-list">
        <h2>Harvest sources</h2>
        {% if not data.harvest_sources %}
        <div class="usa-alert usa-alert--info">
            <div class="usa-alert__body">
                <p class="usa-alert__text">No harvest sources found for this organization.</p>
            </div>
        </div>
        {% else %}
        <div class="usa-table-container--scrollable" tabindex="0">
            <table class="usa-table usa-table--striped">
                <caption class="usa-sr-only">Harvest sources for {{data.organization.name}}</caption>
                <thead>
                    <tr>
                        <th data-sortable scope="col" role="columnheader">Name</th>
                        <th data-sortable scope="col" role="columnheader">Last Job</th>
                        <th data-sortable scope="col" role="columnheader">Next Job</th>
                        <th data-sortable scope="col" role="columnheader">Source Type</th>
                        <th data-sortable scope="col" role="columnheader">Frequency</th>
                        {% if session['user'] %}
                        <th data-sortable scope="col" role="columnheader">Notification Emails</th>
                        {% endif %}
                        <th data-sortable scope="col" role="columnheader">Url</th>
                    </tr>
                </thead>
                <tbody>
                    {% for source in data.harvest_sources %}
                    <tr>
                        <td data-sort-value={{source.date_created}}><a
                                href="{{ url_for('main.view_harvest_source', source_id=source.id) }}">{{source.name}}</a>
                        </td>
                        <td scope="row" class="text-center">
                            {% if data.harvest_jobs[source.id] %}
                            {% set last_job_has_errors = (data.harvest_jobs[source.id].errors | length) == 0 %}
                            <a href="{{ url_for('main.view_harvest_job', job_id=data.harvest_jobs[source.id].id) }}">
                                <svg class="usa-icon align-middle {% if last_job_has_errors %}check{%else%}cancel{%endif%}"
                                    aria-hidden="true" focusable="false" role="img">
                                    <use
                                        xlink:href="{{ static_url('assets/uswds/img/sprite.svg') }}#{% if last_job_has_errors %}check{%else%}cancel{%endif%}">
                                    </use>
                                </svg>
                            </a>
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        {% if data.future_harvest_jobs[source.id] %}
                        <td class="utc-date" data-utc-date="{{ data.future_harvest_jobs[source.id] | utc_isoformat }}">
                            {{ data.future_harvest_jobs[source.id] | else_na }}
                        </td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        <td data-sort-value={{source.records_updated}}>{{source.source_type}}</td>
                        <td data-sort-value={{source.records_deleted}}>{{source.frequency}}</td>
                        {% if session['user'] %}
                        <td data-sort-value={{source.date_finished}}>{{source.notification_emails}}</td>
                        {% endif %}
                        <td data-sort-value={{source.records_errored}} class="word-break-all"><a target="_blank"
                                href={{source.url}}>{{source.url}}</a> {{ 'launch' | usa_icon | safe }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
